header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  margin-left: 40px;
  font-size: 40px;
  font-weight: 700;
}

img {
  margin-left: 70px;
  height: 70px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  max-width: 1300px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: 170px;
  height: 80px;
  box-sizing: border-box;
  padding: 0 30px;
  margin-bottom: 30px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  width: 25%;
  font-size: 1.2rem;
}

li a {
  text-decoration: none;
  white-space: nowrap;
}

.navLink {
  color: blue;
  transition: all 250ms ease-in-out;
}

.navLink:hover {
  color: darkmagenta;
}

.active {
  color: blue;
  font-weight: 700;
}
